.nav {
  margin: 0 0 30px;
  padding: 10px;
  background-color: #c43237;
  overflow: hidden;
}

.nav-logo {
  width: 80px;
}

.nav-link {
  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.nav-link:hover {
  background-color: #ed484d;
}

.nav-right {
  text-align: right;
}

img {
  border-radius: 10px;
}
